<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href ="css/index.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<title></title>
</head>
<body>
<div name = "invoice-metadata" class = "invoice-container">
	<div class = "logo-companyname-container">
		<div class = "logo-companyname-container__logo-container">
			<img src = "asset/svg/fox-svgrepo-com.svg" alt = "something went wrong please refresh the page again" class = "logo-companyname-container__logo-container__logo"/>
			<h3>Fox Invoicer</h3>
			<span>Your product our responsibility</span>
		</div>
		<div class = "logo-companyname-container__company-name">
			<h1>Fox Invoicer</h1>
		</div>
	</div>
	
	<div class = "invoice-metadata-container">
		<div class = "invoice-metadata-container__billto">
			<div class = "invoice-metadata-container__billto__heading">Bill to</div>
			<div class = "invoice-metadata-container__billto__body">
				<ul>
					<li>Name</li>
					<li>Email</li>
					<li>Phone</li>
					<li>Address</li>
					<li>Postal code</li>
					<li>City</li>
					<li>District</li>
				</ul>
			</div>
		</div>	

		<div class = "invoice-metadata-container__billto">
			<div class = "invoice-metadata-container__billto__heading">Bill to</div>
			<div class = "invoice-metadata-container__billto__body">
				<ul>
					<li>Name</li>
					<li>Email</li>
					<li>Phone</li>
					<li>Address</li>
					<li>Postal code</li>
					<li>City</li>
					<li>District</li>
				</ul>
			</div>
		</div>	
	</div>
	

	<div class = "invoice-table-container">
		<table>
			<tr><th>Product name</th> <th>Quantity</th> <th>Unit price</th> <th>Total</th></tr>
			<tr><td>Pm head</td> <td>10</td> <td>100</td> <td>1000</td></tr>
			<tr><td>Pm head</td> <td>10</td> <td>100</td> <td>1000</td></tr>
			<tr><td>Pm head</td> <td>10</td> <td>100</td> <td>1000</td></tr>
			<tr><td>Pm head</td> <td>10</td> <td>100</td> <td>1000</td></tr>
			<tr><td>Pm head</td> <td>10</td> <td>100</td> <td>1000</td></tr>
		</table>
		
	</div>
	<div class = "thanks-note">
		<p>****** Thank you so much for your purchase ******</p>
	</div>
</div>
</body>
</html>